div{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}

.login-form{
    background-color: rgb(221, 195, 195);
    width: 400px;
    /* margin-left: 20%; */
    display: block;
    align-content: center;
    justify-items: center;
    padding: 20px;
    border-radius: 15px;
    
    
  



}
input{
    width: 80%;
    height: 30px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
    border-radius: 5px;
    padding: 2.5px;
    border: 0;
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(228, 71, 71);
    


}

button{
    width: 80px;
    height: 30px;
    margin-top: 12px;
    border-radius: 10px;
    border: 0;
    background-color: red;
    color: white;
    opacity: 1;
    transition: 0.5s;

}
button:hover{
    background-color: gray;

}
button:active{
    background-color: rgb(21, 233, 21);
}