body {
  background-color: rgba(0, 0, 0, 0.644);
  margin:0;
  padding:0;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.hero {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: start;
  width: 45vw;
}
.nav-bar {
  margin-bottom: auto;
  display: flex;
  gap: 60px;
  align-items: center;
  justify-content: space-around;
  font-size: larger;
  width: 80%;
}
.nav-bar a:hover {
  color: orange;
  font-weight: bold;
}
li {
  list-style-type: none;

  /* margin-inline-end: 60px; */
}
.myBar{
  display: none;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}
.image {
  height: 85vh;
  width: 35vw;
  border-radius: 10px;
}
.parent {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 70px;
}
h1 {
  line-height: 2;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.about p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.cvBtn {
  background-color: rgba(223, 146, 3, 0.966);
  height: 60px;
  width: 100px;
  border: 0;
  border-radius: 5%;
  color: white;
  cursor: pointer;
}
.cvBtn:hover {
  background-color: orange;
}
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70vw;
  color: white;
  font-size: 2rem;
  position: fixed;
  bottom: 10%;
}
footer i:hover {
  color: orange;
}
.about {
  width: 50vw;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(36, 25, 25, 0.623);
}
.projectContainer {
  background-color: black;
  width: 100vw;
  color: white;
  height: auto;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
.projectCardOne {
  width: 250px;
  height: 200px;
  background-color: rgba(221, 149, 14, 0.904);
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  margin-left: 2rem;
  margin-bottom: 50px;
}
.projectCardTwo {
  background-color: rgba(255, 115, 0, 0.603);
  width: 250px;
  height: 200px;
  display: flex;
  border-radius: 10px;
  justify-content: space-between;
  margin-left: 2rem;
  margin-bottom: 50px;

}
.mobileDiv{
  display:none;
}
footer i{
  font-size: 20px;
}
.nav-bar-mobile{
  display: none;
}

@media only screen and  (max-width:500px) {
  
   .myCancel{
    display: block;
    float: right;
    margin: 20px 20px 0 0;
    color: white;
   }
   .nav-bar-mobile{
    display: flex;
    flex-direction: column;
    row-gap: 10vh;
    width: 70%;
    text-align: center;
    margin-top: 30%;
    z-index: 10;
  } 
  .myBar{
    display: block;
    float: right;
    margin: 20px 20px 0 0;
    color: white;
  }
  .myBar:hover{
    color: goldenrod;
  }
  .nav-bar{
    display: none;
  }
  .mobileDiv{
    width:70%;
    height:100vh;
    background-color: rgba(87, 85, 76, 0.952);
    position:fixed;
    display: none;
    right: 0;
    
  }
  .projectContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    background-color:inherit;

  }
  
  
}

@media only screen and (max-width:900px) {
  
  .parent{
    display: flex;
    flex-direction:column;
  }
  .image{
    width:100%;
    margin-top:35px;
  } 

  .hero{
    width:100%;
  }
  .allProject{
    display: flex;
    flex-direction: column;
  }
  .projectContainer{
    
    width: 100vw;
  }
  
}
