body{
    padding: 0;
    margin: 0;
}

.container{
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    
}
.btn1{
    background-color: rgb(40, 187, 40);
    width: 7rem;
    height: 5rem;
    border-radius: 50%;
    border: 0;
    cursor:pointer;
    font-size: large;
    color: blue;

}
.btn2{
    background-color: rgb(233, 224, 224);
    width: 7rem;
    height: 5rem;
    border-radius: 50%;
    border: 0;
    cursor:pointer;
    font-size: large;
    color: red;
}
